body {
  background-color: #343434;
}

.header-content {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.max-center {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.container-cards {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0em 1em 0em;

  display: grid;
  gap: .01rem .5em;
  grid-template-columns: 1fr 1fr;
}

.movie-cover {
  width: 100%;
}

.movie-cover {
  height: 420px;
}

/* .movie-placeholder {
  min-height: 359px;
  background-color: aliceblue;
  color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hero {
  position: relative;
  padding: 0px 20px 50px 20px;
  min-height: 560px;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.hero-title {
  font-size: 70px;
  margin:0;
  color:rgba(234, 230, 225, 0.883);
  text-shadow: 1px 3px 4px rgb(48, 32, 29);
  padding: 20px 0px 20px 0px;
}

.hero-overview {
  font-size: 18px;
  color:rgba(247, 245, 242, 0.968);
  text-shadow: 2px 5px 4px rgb(48, 32, 29);
}

.button-play {
  background-color: #0f1014a5;
  color:rgba(247, 245, 242, 0.968);
  outline: none;
  border: 1.3px solid white;
  padding: 10px 16px;
  border-radius: 10px;
  text-shadow: 1px 1.5px 12px rgb(227, 217, 215);
  box-shadow: 1px 3px 4px rgba(255, 99, 71, 0.692);
  cursor: pointer;
  margin-top: 1em;
  margin-right: 1em;
}

.youtube-container {
  width: 190px;
  height: 1280px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}