body {
  background-color: #343434;
}

.header-content {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.max-center {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.container-cards {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0em 1em 0em;

  display: grid;
  gap: .01rem .5em;
  grid-template-columns: 1fr 1fr;
}

.movie-cover {
  width: 100%;
}

/* .movie-placeholder {
  min-height: 359px;
  background-color: aliceblue;
  color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hero {
  min-height: 560px;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.hero-overview {
  font-size: 18px;
  color:rgba(231, 218, 201, 0.924);
  text-shadow: 1px 3px 4px tomato;
}

.hero-title {
  font-size: 70px;
  margin:0;
  color:rgba(238, 201, 155, 0.71);
  text-shadow: 1px 3px 4px tomato;
}

.button-play {
  background-color: #0f1014a5;
  color: aliceblue;
  outline: none;
  border: 1.3px solid white;
  padding: 10px 14px;
  border-radius: 10px;
  text-shadow: 1px 1.5px 2px tomato;
  box-shadow: 1px 3px 4px tomato;
  cursor: pointer;
}